@import url('https://fonts.googleapis.com/css2?family=Comme&family=Delicious+Handrawn&display=swap');

 * {margin: 0px;
	padding: 0px;
	box-sizing: border-box;}


body {background-color: #F4E9CD;}

.menu {list-style: none; padding: 0px; background: #18314F; font-size:20px; text-align: center; position: fixed;}

.dropdown-content a:hover {

	color: #FFFFFF;
	background-color: #85093B;
}

.dropdown {

		display: inline-block;
		position: relative;
}

.dropdown button {

	background-color: #18314F;
	border: none;
	color: white;
	font-size: 27px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.dropdown-content {

	display: none;
	position: absolute;
	width: 100%;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);

}

.dropdown:hover .dropdown-content {

	display: block;
}


.dropdown-content a {

	display: block;
	color: #FFFFFF;
	padding: 5px;
	text-decoration: none;
	font-size: 20px;

}

.dropdown-content a:hover {

	color: #FFFFFF;
	background-color: #3D73B5;
}

.dropdown button:hover {

	color: #FFFFFF;
	background-color: #3D73B5;
}

#bienvenida p {color: white; font-size: 30px; position: absolute; margin-left: 700px; margin-right: 150px; margin-top: 120px;}

#sobretini p {color: white; font-size: 30px; position: absolute; margin-left: 230px; margin-right: 700px; margin-top: 120px;}

main img {
	width: 500px;
	padding: 50px;
	justify-content: center;
}

main h1{
	color: black;
	font-size: 30px;
	text-align: center;

}

header{font-size: 60px; text-align: center; color: white;}
header img {width: 1462px;}

footer {background-color: #18314F; height: 200px; margin-top: 80px;}

footer a {color: white; margin-left: 35px; font-size: 30px;}

footer img {width: 30px; position: absolute;}
#tini {margin-top: 30px; position: absolute;}
#tour {margin-top: 80px; position: absolute;}
#fco {margin-top: 135px; position: absolute;}

#insta {margin-left: 600px;}

#contenedor img {width: 350px;}
#tini1 {margin-left: 230px; margin-top: 40px;}
#tini2 {margin-top: 30px; margin-left: 910px;}

nav {display: flex; align-items: center; justify-content: space-between;padding-top: 20px; padding-left:5%; padding-right:5%; padding-bottom: 20px; font-weight: bold; background-color: #18314F; height: 150px;}

h1 {
	color: white; 
	font-size: 40px;
	padding: 20px;

}

ul li {display: inline-block;
	padding: 0px 20px;
	margin-right:70px; ;
}

li a:hover {list-style-type: none;
	color: #FFFFFF;
	background-color: #3D73B5;
}

a{
	color: white;
	text-decoration: none;
	font-size: 27px;
	font-family: 'Open Sans', sans-serif;
}

a:hover {color:#F4E9CD;}

#albumes {padding: 50px; margin-left: 110px; margin-bottom: 100px;}
#album1 {display: inline-block;padding: 20px;}
#album2 {display: inline-block;padding: 20px;}
#album3 {display: inline-block;padding: 20px;}
#album4 {display: inline-block;padding: 20px;}

h2 {color: white; 
	font-size: 60px;
	margin-left: 600px;
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
}

p {color: black;
	font-family: 'Oswald', sans-serif;
}

/*tipografías https://fonts.google.com/specimen/Open+Sans?preview.text=Whereas%20recognition%20of%20the%20inherent%20Indignity&preview.text_type=custom&category=Sans+Serif*/

#cancionesizquierda {font-size: 25px; display: inline-block; margin-left: 300px; margin-top:100px;position:relative; }
#cancionesderecha {font-size: 25px; display: inline-block; margin-left: 90px; margin-top:100px;position:absolute; }

#cancionesizquierda4 {font-size: 25px; display: inline-block; margin-left: 500px; margin-top:50px;position:relative; }
#cancionesderecha4 {font-size: 25px; display: inline-block; margin-left: 90px; margin-top:50px;position:absolute; }

#foto2016 img {width: 250px; position: absolute;}
#foto2016 p {font-size: 30px; margin-left: 300px; position: relative; background-color: #AA104F;}
#foto2016 {display: inline-block; position: absolute;}
#foto1 {margin-left: 200px; margin-top: 90px;}


#footeralbum1 {margin-top: 100px;}

#footeralbum2 {margin-top: 100px; }

#foto2018 p {font-size: 30px; margin-left: 300px; position: relative; background-color: #036312;}
#foto2018 img {width: 250px; position: absolute;}
#foto2018 {display: inline-block; position: absolute;}

#foto2023 p {font-size: 30px; margin-left: 300px; position: relative;}
#foto2023 img {width: 250px; position: absolute;}
#foto2023 {display: inline-block; position: absolute;}




#alejandro img {margin-left: 60px; display: inline-block; margin-top: 20px; width: 300px;}
#alejandro p {display: inline-block; position: absolute; margin-left: 60px; margin-top: 20px; font-size: 23px; margin-right: 60px;}

#mariana img {margin-left: 150px; display: inline-block; margin-top: 20px; width: 350px;} 
#mariana p {display: inline-block; position: absolute; margin-left: 100px; margin-top: 20px; font-size: 23px; margin-right: 150px;}

#francisco img {margin-left: 150px; display: inline-block; margin-top: 20px; width: 350px;} 
#francisco p {display: inline-block; position: absolute; margin-left: 100px; margin-top: 20px; font-size: 23px; margin-right: 150px;}
