@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {background-color: #f9f5f0; }

h1 {background: #18314f; color: white; text-align: center; padding: 30px;}
p {margin-left: 200px;}

