@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {background-color: #f9f5f0; }

.foto {width: 700px;
margin-left: 250px;
}

footer {background-color: #18314f;
padding: 60px;}

h1 {background: #18314f; color: white; text-align: center; padding: 30px;
font-family: 'Poppins', sans-serif}
h2 {margin-left: 200px;
font-family: 'Poppins', sans-serif}
p {margin-left: 200px;
margin-right: 200px;
font-family: 'Poppins', sans-serif; margin-top: 30px;}

background-color: #573E23; 
  color: #F8E6C7; 
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;



/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
  background-color: var(--primary-color);
}

.fotoface {width: 700px;
margin-left: 250px;
}
